@font-face {
  font-family: Orbitron;
  src: url(fonts/Orbitron-Bold.ttf);
}

/* mobile resolution changes */
@media only screen and (max-width: 600px) {
  html{
    font-size: medium;
  }
  header{
    grid-column: 2/12 !important;
  }
  #aboutme {
    grid-column: 2/12 !important;
  }
  #projects {
    grid-column: 2/12 !important;
  }
  #work_history {
    grid-column: 2/12 !important;
  }
}

html {
  font-family:Arial, Helvetica, sans-serif;
  font-weight: 700;
}


canvas {
  position: fixed;
  top: 0;
  left: 0;
}

#section-container {
  position: absolute;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

header{
  color: white;
  background-color: rgb(30,144,255,0.9);
  background: linear-gradient(0deg, rgb(30, 188, 245) 0%, rgba(30,118,255,1) 100%);
  grid-column: 2/8;
  text-align: center;
  margin-top: 10%;
  padding: 5%;
  border-radius: 25px;
}
#the_boi{
  font-family: Orbitron;
  font-size: 60px;
  color: black;
  text-decoration: underline;
  letter-spacing: .1rem;
  word-spacing: .2rem;
}

#aboutme {
  grid-column: 2/8;
}
#aboutme_content{
  padding-bottom: 1rem;
}

section{
  line-height: 2;
  padding: 1rem;
  padding-top: 0rem;
  margin-top: 10%;
  color: white;
  background-color: rgba(77, 83, 109, 0.9);
  border-radius: 25px;
}
.section_header{
  text-decoration: underline;
  text-align: center;
}
.section_item{
  border: 5px ridge rgba(255, 255, 255, .3);
  padding: 1rem;
  margin: 5rem auto;
}
.section_item_top{
  margin-top: 1rem;
}
.section_item_title{
  text-align: center;
}
.tech_stack_list {
  columns: 2;
  -webkit-columns: 2;
  -moz-columns: 2;
}

#projects {
  grid-column: 2/8;
}
#work_history {
  grid-column: 2/8;
}

