@font-face {
  font-family: Orbitron;
  src: url(fonts/Orbitron-Bold.ttf);
}

/* mobile resolution changes */
@media only screen and (max-width: 600px) {
  html{
    font-size: medium;
  }
  .model{
    display: none !important;
  }
  .sidebar{
    position:absolute !important;
    line-height: 0.2rem;
  }
  header{
    grid-column: 2/12 !important;
    margin-top: 40% !important;
  }
  #aboutme {
    grid-column: 2/12 !important;
  }
  #portrait-image-container{
    grid-column: 2/12 !important;
    grid-row-start: 2 !important;
  }
  #portrait-image{
    padding-top: 0rem !important;
    margin-top: 4% !important;
    max-width: 100% !important;
  }
  #projects {
    grid-column: 2/12 !important;
  }
  #work_history {
    grid-column: 2/12 !important;
  }
  #education {
    grid-column: 2/12 !important;
  }
  #chico-state-emblem{ 
    max-width: 100% !important;
    align-content: center;
    height: auto;
    float: left;
    padding: 0rem !important;
    padding-right: 3rem;
    border-radius: 50%;
  }
  #grad-image-container{
    grid-column: 2/12 !important;
    grid-row-start: 7 !important;
  }
  #grad-image{
    padding-top: 0rem !important;
    margin-top: 4% !important;
    max-width: 100% !important;
  }
  #contact{
    grid-column: 2/12 !important;
  }
  .contact-item{
    padding: 0rem 0rem !important;
  }
}

html {
  font-family:Arial, Helvetica, sans-serif;
  font-weight: 700;
  letter-spacing: 0.03rem;
  background-color: #1B2631;
}

canvas {
  position: fixed;
  top: 0;
  left: 0;
  
  width: 100%;
  height: 100%;
  z-index: -1;
}

/* 2nd column grid */
.model{
  position: relative;
  float: right;
  border-style: double;
  grid-column: 8/13;
}
#project-models #work-history-models{
  grid-row: auto;
}


.sidebar{
  width: 100%;
  height: auto;
  top:0;
  left: 0;
  position: fixed;
  overflow: hidden;
  background-color: black;
  z-index: 1;
  border: 3px ridge rgba(255, 255, 255, .3);
}
.sidebar-item {
  float: left;
  font-size: large;
  list-style: none;
}
.sidebar-item .sidebar-link {
  display: block;
  color: white;
  text-align: center;
  padding: 12px 14px 16px;
  text-decoration: none;
}


#section-container {
  position: absolute;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: rereat(12, 1fr);
}

header{
  color: white;
  background-color: rgb(30,144,255,0.9);
  background: linear-gradient(0deg, rgb(30, 188, 245) 0%, rgba(30,118,255,1) 100%);
  grid-column: 2/8;
  text-align: center;
  margin-top: 10%;
  padding: 5%;
  border-radius: 25px;
}
#the_boi{
  font-family: Orbitron;
  font-size: 60px;
  color: black;
  text-decoration: underline;
  letter-spacing: .1rem;
  word-spacing: .2rem;
}

#portrait-image-container{
  position: relative;
  float: right;
  /* border-style: double; */
  grid-column: 8/13;
  grid-row: 1/3;
  overflow: hidden;
}
#portrait-image{
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 25%;

  max-width: 35rem;
}

#aboutme {
  grid-column: 2/8;
}
#aboutme_content{
  margin-bottom: 1rem;
}

section{
  line-height: 2;
  padding: 1rem;
  padding-top: 0rem;
  margin-top: 4%;
  color: white;
  background-color: rgba(77, 83, 109, 0.9);
  border-radius: 25px;
}
.section_header{
  text-decoration: underline;
  text-align: center;
}
.section_item{
  border: 5px ridge rgba(255, 255, 255, .3);
  background-color: rgba(0, 0, 0, .4);
  padding: 1rem;
  margin: 1rem auto 5rem;
  overflow: hidden;
}
.section_item_top{
  margin-top: 1rem;
}
.section_item_title{
  text-align: center;
  text-decoration: underline;
}
.tech_stack_list {
  columns: 2;
  -webkit-columns: 2;
  -moz-columns: 2;
}

#projects {
  grid-column: 2/8;
}
#work_history {
  grid-column: 2/8;
}
.job-title{
  text-decoration: underline;
}

#education{
  grid-column: 2/8;
}
#chico-state-emblem{ 
  max-width: 30%;
  height: auto;
  float: left;
  padding: 2rem;
  padding-right: 3rem;
  border-radius: 50%;
}
.school-details{
  text-align: center;
  margin: 4rem auto;
}

#grad-image-container{
  position: relative;
  float: right;
  /* border-style: double; */
  grid-column: 8/13;
  overflow: hidden;
}
#grad-image{
  display: block;
  margin: 7% auto 0%;
  /* margin-left: auto;
  margin-right: auto;
  margin-top: 5%; */

  max-width: 30rem;
}

#contact{
  grid-column: 2/8;
}
.contact-list{
  text-align: center;
  padding: 0px;
}
.contact-item{
  display: inline-block;
  padding:  0rem 5rem;
}
.contact-image{
  max-height: 100px;
  max-width: 100px;
}
#contact-links-container{
  margin-bottom: auto;
}